# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
*.csv
*.xlsx
*.parquet
*.zip

# Models
models/
*.pkl
*.joblib

# Environment
.env

# OS
.DS_Store
Thumbs.db